/* defaults */
body {
	max-width: 600px;
	margin: 1em auto;
	padding: 1em;
}

img, iframe { width: 100%; height: auto }

header {
	position: relative;
}

nav {
	padding-top: 2.5em;
}

div#moneygraph {
	position: absolute;
	top: 0.5em;
	overflow: hidden;
	width: 100%;
}

@media only screen and (max-width: 480px){

	nav {
		padding: 0;
	}

	div#moneygraph {
		display: none;
	}

}

div#moneygraph svg {
	width: 600px;
	float: right;
}