<div id='calendar' data-year='{{include.year}}' data-month='{{include.month}}'>
<noscript>Javascript is required to fetch upcoming events from the google calendar</noscript>
<script type="text/javascript">
	var cal = document.getElementById('calendar');
	cal.innerHTML = '<h3 style="color:#555">Loading Events and Residents:<h3>';
</script>
</div>
<script type="text/javascript" src="/js/micromarkdown.js"></script>
<script type="text/javascript">

	var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
	var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
	var calendar_id = 'frontyardprojects@gmail.com';

	function loadCal() {
		gapi.client.setApiKey('AIzaSyC-ETCMeqX_Hej9g-ihPGa69pdvFVCbfYg');
		gapi.client.load('calendar', 'v3', function() {
			var cal = document.getElementById('calendar');
			var month = cal.getAttribute('data-month');
			var year = cal.getAttribute('data-year');
			console.log(typeof month, cal.getAttribute('data-month'));
			if(year !== '' &&  month !== ''){
				listEventsByMonth(Math.floor(Number(year)),Math.floor(Number(month)));
			} else {
				listUpcomingEvents();
			}
		});
	}

	function listEventsByMonth(year,month) {
		listEvents({
			'calendarId': calendar_id,
			// 'timeMin': (new Date(year,month)).toISOString(),
			'timeMax': (new Date()).toISOString(),//(new Date(year,month+1)).toISOString(),
			'showDeleted': false,
			'singleEvents': true,
			'maxResults': 300,
			'orderBy': 'startTime'
		}, "All Past Events", true);
	}

	function listUpcomingEvents() {
		listEvents({
				'calendarId': calendar_id,
				'timeMin': (new Date()).toISOString(),
				'showDeleted': false,
				'singleEvents': true,
				'maxResults': 15,
				'orderBy': 'startTime'
		}, "Upcoming Events and Residents");
	}

	function listEvents(options, heading, reverse) {
		gapi.client.calendar.events.list(options)
		.execute( function(resp) {
			var events = resp.items;
			var html = '<h3>'+heading+':</h3>';
			if (events.length > 0) {
				html += '<ul>';
				for (i = 0; i < events.length; i++) {
					var event = events[(reverse) ? events.length-1-i :i];
					console.log(event);
					var start = new Date( event.start.dateTime || event.start.date);
					var end = new Date( event.end.dateTime || event.end.date);
					html += '<li>'+renderEvent(event.summary, (event.description || "*More details to come*"), start,end) + '</li>';
					if(i!=events.length-1)
						html += '<hr>';
				}
				html += '</ul>';
			} else {
				html += '<p>No events found.</p>';
			}
			var cal = document.getElementById('calendar');
			cal.innerHTML = html;
		});
	}
	
	function renderEvent(title, summary, start,end) {
		var html = '<strong>'+title+'</strong></br><em>';
		if((start.getMonth() !== end.getMonth()) || 
			 (start.getYear() !== end.getYear()) ||
			 (start.getDate() !== end.getDate()) ) {
			html += prettyDate(start) +' –' +'</br>' + prettyDate(end);
		} else {
			html += prettyDate(start) + '</br>' + 
							prettyTime(start) +' – ' + prettyTime(end);
		}
		html += '</em>';
		try {
			html += '<p>'+micromarkdown.parse(summary)+'</p>';
		} catch (e) {
			html += '<p>'+summary+'</p>';
		}
		return html;
	}

	function prettyDate(d) {
		var month = months[d.getMonth()];
		var day = days[d.getDay()]; 
		var date = d.getDate();
		var year = d.getFullYear();
		return day+', ' + month + ' ' + date +', ' + year;
	}

	function prettyTime(d) {
		var h = d.getHours();
		var m = d.getMinutes();
		var t = (h>=12)?' PM':' AM';
		if(h>12) h-=12;
		return h+':'+((m<10)?'0':'')+m+t;
	}
</script>
<script src="https://apis.google.com/js/client.js?onload=loadCal"></script>