
<nav id="navigation" style="font-size: 1.5em; font-weight: bold;">
	<a href="/">home</a> |
	<a href="https://wiki.frontyardprojects.org/everything/Frontyard">about</a> |
	<a href="/contact/">contact us</a> |
	<a href="/documents/">documents</a> |
	<a href="/events/">events</a> |
	<a href="https://wiki.frontyardprojects.org/everything/The_Frontyard_Library">library</a> |
	<a href="https://wiki.frontyardprojects.org/everything/Category:Residencies">residencies</a> |
	<a href="/supporters/">supporters</a> |
	<a href="https://wiki.frontyardprojects.org">wiki</a>
{% assign depth = page.url | split: "/" | size %}
{% if depth > 1 %}
	{% capture links %}{% include navlinks.html context=page.url %}{% endcapture %}
	{% if links.size > 2 %}
	<p><strong>more:</strong> {{ links }}</p>
	{% endif %}
{% endif %}
</nav>
